body {
	margin: 0;
	padding: 0;

}

.friends {
	float:left;
}

.people_row .img {
	float:left;
}

.people_row {
	padding: 10px 0;
	border-bottom: 1px solid grey;
	clear: both;
	float: left;
}
.info {
	padding-left: 10px;
	float: left;

}

.info div {
	width: 300px;
}

.statistic {
	position: fixed;
	margin-left: 450px;
}

.statistic .number {
	color: red;
}

.total {
	padding: 10px 0;
}

.error {
	float:left;
	clear: both;
	color: red;
}

#logout_button:hover {
	text-decoration: underline;
	cursor: pointer;
}

#openapi_header {
	background-color: #45719B;
	color: #FFF;
	margin: 0 auto;
	padding: 0 11px;
	width: 700px;
}

#openapi_block {
	display: none;
	float: right;
	width: 300px;
	padding-top: 2px;
}